<!-- search.html -->
{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block content %}
    <div class="search-box">
        <h1>
        <span for="search-input">Searching</span>
        </h1>

        <link rel="stylesheet" href="../static/css/search.css">

        <input type="text" id="search-input" placeholder="输入搜索内容">
        <button id="search-button">搜索</button>
        <button id="search-mode-button">切换搜索方式</button>
    </div>
    <div id="search-results"></div>
    <div id="pagination"></div>
    <div class="sidebar" style="float: right;">
        <h3>热度排行榜</h3>
        <ul id="hot-list"></ul>
    </div>
{% endblock %}


